@font-face {
  font-family: 'Icon';
  src: url('./Icon.eot');
  src: url('./Icon.eot?#iefix') format('eot'), url('./Icon.woff') format('woff'),
    url('./Icon.ttf') format('truetype'), url('./Icon.svg#Icon') format('svg');
  font-display: block;
}

.Icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.Icon:before {
  font-family: 'Icon';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
}

.Icon-react:before {
  content: '\E001';
}
